<div class="col-md-9">
  <div class="content-right">
    <div class="page-header"><h2>Listing projects</h2></div>
  
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>No of Developer</th>
      <th colspan="3">Options</th>
      <th>Developer ON Project</th>
      
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.no_of_developer%></td>
        <td><%= link_to 'Show', project_path(project) %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Remove', delete_project_path(project),method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Get_Developer', get_project_developer_path(project) %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
</div>
</div>
