<%= render "developer/layout" %>
<%= render "developer/left_link" %>
  <div class="col-md-9">
    <div class="content-right">
      <h2>List Of developer</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
        <% @developers.each do |developer| %>
        <tr>
          <td><%= developer.employee_name %></td>
          <td><%= developer.age %></td>
          <td><%= developer.email %></td>
          <td><%= developer.role %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  </div>
</div>