<%= render "developer/layout" %>
<%= render "developer/left_link" %>
<div class="col-md-9">
  <div class="content-middle">
  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>
  <%= link_to 'Back', projects_path %></p>
</div>
</div> 
</div>
</div>