<div class="master">
  <h3>Edit user Details</h3>
  <%= form_for :user ,url: user_path(@user), method: :put do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> Found
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :name %><br>
    </p>
    <p>
      <%= f.label :Age %><br>
      <%= f.text_field :age %><br>
    </p>
    <p>
      <%= f.label :Role %><br>
      <%= f.text_field :role %><br>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>