<div class="master">
  <h1>This is New Record</h1>
  <%= form_for :developer  do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@developer.errors.count, "error") %> Found
      </h2>
      <ul>
        <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label :Employee_name %><br>
      <%= f.text_field :employee_name %><br>
    </p>
    <p>
      <%= f.label :Age %><br>
      <%= f.text_field :age %><br>
    </p>
    <p>
      <%= f.label :Email %><br>
      <%= f.text_field :email %><br>
    </p>
    <p>
      <%= f.label :Role %><br>
      <%= f.text_field :role %><br>
    </p>
  
    <p>
      <%= f.label :Project_Id %><br>
      <%= f.select(:project_id, Project.all.collect {|u| [ u.id]}, :prompt => 'Select Project_id') %>
    </p>
  
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>